<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Input</title>
</head>

<body>

<form method="POST">
    <p> <label for="Social Media">Choose a social media</label> </p>
    <select name="Socialmedia" id="Socialmedia">
    <option value="Twitter">Twitter</option>
    <option value="Facebook ( Under development)">Facebook ( Under development)</option>
    <option value="Instagram ( Under development)">Instagram ( Under development)</option>
    </select>
    <br><br>
    
    <p> Keyword </p>  <input name="text"> 
    
    
    <p>Please select your favorite Web language:</p>
    <input type="radio" name="radio" value="Online">
    <label for="Online">Online</label><br>
    <input type="radio" name="radio" value="Offline">
    <label for="Offline">Offline</label><br>
    
    <p> <input type="submit"> </p>

</form>
</body>
</html>
